@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 35, 32%, 93%;
    --foreground: 0, 0%, 16.1%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 166.341, 59%, 41%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 19% 16%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 237 13% 40%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 237 9% 96%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 100%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 216 17.6% 16.7%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 166.341, 59%, 41%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 5.9% 25%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;

    
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.h1{
  @apply text-6xl xl:text-[72px] xl:leading-[80px] tracking-[-2px] font-extrabold;
}

.subtitle{
  @apply text-muted-foreground text-base mb-8 font-normal;
}

.section-title{
  @apply text-4xl font-extrabold relative w-max flex items-center justify-between uppercase gap-x-3;
}

.section-subtitle{
  @apply text-2xl font-extrabold relative w-max ;
  
}





.secondary-font{
  font-family: 'Caveat', cursive;
}
